/*STYLES*/
body {
  color: white;
}
.left {
    text-align: left;
}
#date {
  font-size: 1em;
}
hr {
  color: blue;
}
h1.white {
    color: white;
    text-align: left;
}
h2.white {
    color: whitesmoke;
}
h2 {
  color: whitesmoke;
}
h2.left {
  text-align: left;
}
h3.contact.white {
    color: whitesmoke;
}
h4 {
  margin-top: 25px;
}
a:active {
    color: #23527c;
    text-decoration: none;
}
a:hover {
    color: #23527c;
    text-decoration: none;
}
a.contact {
    color: white;
}
a.contact:hover {
  color: #337ab7;
  font-style: none;
  text-decoration: none;
}
.social-nav {
    font-size: 4em;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  /*background-color: rgba(181,183,181,.59);*/
  /*background-color: white;*/
  /*border: .5px solid black;*/
  border: 1px solid rgba(86,61,124,.2);
  text-align: center;
}
.no-border {
  border: none;
}
.col-md-6.col-sm-12 {
  padding: 0px;
}
.col-md-6.col-sm-12:hover {
    padding: 0px;
    border: white solid 2px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}
img.full-size {
    width: 100%;
}
img.img-responsive.img-circle.profilepic {
  height: 200px;
  text-align: center;
  margin: auto;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
.row {
    margin-bottom: 20px;
    padding: 20px;
}
.row.shaded {
  background-color: rgba(181,183,181,.59);
}
hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
.header {
 text-align: center;
}

.technology {
  width: 32%;
  text-align: center;
  float: left;
}

ul.languages {
    text-align: left;
    list-style: none;
}
@media (max-width: 400px) {
  .col-md-4.technology {
    
    text-align: center;
    margin: 3px;
  }
  .calendar-container {
    width: 300px;
}
a {
    font-size: 16px;
}
}

@media (min-width: 650px) {
  .technology {
    text-align: center;   
  }
  .container {
  width: 600px;
  }

}

@media (min-width: 992px) {
  .technology {
    text-align: center;
    margin: 3px;
  }
  .container {
 /* width: 1100px;*/
  }
   .calendar-container {
    width: 1350px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
}

}